@tailwind base;
@tailwind components;
@tailwind utilities;


/* html font family */
html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*button styling*/
.btn-link{
    @apply bg-blue-600 text-slate-200;
    @apply  transition;
}


.btn {
  @apply font-normal py-2 px-4 rounded;
}

/* All section styling */
.section-div-box{
  @apply container m-auto px-5 pt-20 pb-20 sm:px-6 lg:px-8 lg:w-screen h-full;
}

/* .btn-link:hover, */
.btn-link:active {
  @apply bg-blue-600 text-white;
  @apply scale-90;
}


/* Navigation */

#navLink a:hover::after{
  content: "";
  position: absolute;
  width: 0;
  height: 3.5px;
  border-radius: 10px;
  @apply bg-blue-600;
  bottom: -4px;
  left: 8px;
  animation: flow 300ms ease-in-out 1 forwards;

}

/* @media (min-width: 768px){
  @keyframes flow{
  
    from{
     translate: (0, 0);
  
    }
  
    to{
  
      width: 80%;
      translate: (1,1);
    }
  }
} */

@keyframes flow{
  
  from{
   translate: (0, 0);

  }

  to{

    width: 40%;
    translate: (1);
  }
}


.active{
  @apply text-blue-600;
}

.active::after{
  content: "";
  position: absolute;
  width: 0;
  height: 3.5px;
  border-radius: 10px;
  @apply bg-blue-600;
  bottom: -4px;
  left: 8px;
  @apply transition duration-300;
  animation: flow 300ms ease-in-out 1 forwards;
}




/*hero section styling*/
.hero{
  position: relative;
  background: linear-gradient(135deg, #000000d9, #00000000);

}

.hero::before{
  content: '';
  background: url('../images/sigmund-Fa9b57hffnM-unsplash.jpg') center center/cover no-repeat;
  opacity: 1;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* homepage cards */
.cards{
  @apply flex flex-col flex-wrap flex-grow flex-shrink-0 justify-evenly items-center gap-6;
}

.card-group{
  @apply flex flex-wrap flex-col md:flex-row justify-center items-center;

}

.card{
  @apply w-56 md:w-64 bg-white text-blue-600 flex flex-col justify-start mt-10 md:ml-10 md:mt-0 shadow-md shadow-slate-600  rounded-b-2xl hover:scale-110 cursor-zoom-in;
  height: 420px;
  transition: all .2s ease-in;
}

.card:first-child{
  @apply mt-0;
}

.card:nth-child(3),
.card:nth-child(4){
  @apply mt-10;
}

.card:first-child,
.card:nth-child(3){
  @apply md:ml-0
}

@screen lg{
  .card:nth-child(3){
    @apply ml-10 mt-0;
  }

  .card:nth-child(4){
    @apply ml-0;
  }

}

@screen xl{
  .card:nth-child(4){
    @apply ml-10 mt-0;
  }
}

.card-icon{
  @apply text-5xl mb-3;
}
@screen md{
  .card{
    height: 520px;
  }
}


/* about section and box design */
.line-bottomBlue::before{
  content: '';
  position: absolute;
  @apply w-20;
  height: 8px;
  @apply bg-blue-600;
  bottom: -8px;
  left: -1px;
  border-radius: 5px;
  animation: swing 4s ease;
  animation-iteration-count: 2;

}

.line-bottomWhite::before{
  content: '';
  position: absolute;
  @apply w-20;
  height: 8px;
  @apply bg-white;
  bottom: -8px;
  left: -1px;
  border-radius: 5px;
  animation: swing 4s ease;
  animation-iteration-count: 2;

}

@keyframes swing{
  25%{
    left: 20px;
  }

  50%{
    left: -1px;
  }

  75%{
    left: 20px;
  }
}

.about-div{
  z-index: 1;

}

.about-text{
  z-index: 2;
}

.quote-ind1{
  z-index: -1;
}

.quote-ind2{
  z-index: -1;
}

.box-d1::before{
  content: '';
  position: absolute;
  width: 130px;
  height: 130px;
  @apply bg-blue-600;
  z-index: -1; 
  top: -60px;
  right: -40px;
  animation: easyMove1 3s infinite;

}

.box-d2::after{
  content: '';
  position : absolute;
  width: 130px;
  height: 130px;
  @apply bg-blue-600;
  z-index: -1;
  bottom: -40px;
  left: -40px;
  border-radius: 50%;
  animation: easyMove2 3s infinite;

}


@keyframes easyMove1{
  25%{
    right: -20px;
  }


  50%{
    right: -40px;
  }

  75%{
    right: -20px;
  }
}

@keyframes easyMove2{
  25%{
    bottom: -20px;
  }


  50%{
    bottom: -40px;
  }

  75%{
    bottom: -20px;
  }
}

.box-d1{
  z-index: 1;

}

.box-d2{
  z-index: 1;
}

@media(max-width: 639px){
  .box-d1::before ,.box-d2::after{
    width: 65px;
    height: 65px;
  }

  .box-d1::before{
    top: -30px;
    right: -30px;
  }

  .box-d2::after{
    bottom: -30px;
    left: -30px;
  }
}

/* Gallery home styling section */


/* Training home section styling */
.training-cards{
  @apply flex flex-col sm:flex-row gap-6 w-full justify-center items-center;
}

.training-card{
  @apply w-56 md:w-40 h-48 bg-white text-slate-600 flex justify-center items-center relative text-center font-semibold border
border-white shadow-md shadow-slate-600  
  rounded-2xl hover:scale-110 hover:text-blue-600 hover:shadow-blue-600 hover:border hover:border-blue-600 cursor-zoom-in;
  transition: all .2s ease-in;
}

/* Contact and form styling homepage */
.contact{
  position: relative;
  background: linear-gradient(135deg, #2563eb, #2564ebbb);

}

.contact::before{
  content: '';
  background: url('../images/sigmund-Fa9b57hffnM-unsplash.jpg') center center/cover no-repeat;
  opacity: 1;
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.footer-item{
  @apply flex-grow flex-shrink-0 md:basis-1/2;
}

.form-input{
  @apply bg-white text-blue-600;
  padding: 0.75rem 1rem 0.25rem;
  
}

.Nap{
  @apply flex justify-start items-center;
  @apply py-4;
}

.Nap-info{
  @apply ml-5;
}

/*form inputs styling*/
input,
textarea{

    width: 100%;
    font-family: "Lato", sans-serif;
    /* @apply text-indigo-600;
    @apply bg-white; */
    outline: none;
    @apply border-none;
    padding: 0.25rem 0.5rem 0.5rem 0;

}

/* main footer styling */
.social-links{
  @apply py-1 sm:px-1;

}
.social-link{
  @apply px-1.5 text-slate-600 hover:text-blue-600 transition duration-300 ease-in-out;
}

.social-link>svg{
  width: 18px;
  height: 18px;
}

@screen sm{
  .social-link{
    @apply px-2;
  }

  .social-link>svg{

    width: 20px;
    height: 20px;
  }
}

.guide-link{
  @apply sm:px-1.5 md:px-3.5 underline text-slate-600 hover:text-blue-600 transition duration-300 ease-in-out;
}

