@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-link{
    @apply bg-blue-600 text-slate-200;
    @apply  transition;
}


.btn {
  @apply font-normal py-2 px-4 rounded;
}

/* .btn-link:hover, */
.btn-link:active {
  @apply bg-blue-600 text-white;
  @apply scale-90;
}

.footer-item{
    @apply flex-grow flex-shrink-0 md:basis-1/2;
}

.form-input{
    @apply bg-white text-blue-600;
    padding: 0.75rem 1rem 0.25rem;
    
}

/* Navigation */

#navLink a:hover::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  @apply bg-blue-600;
  bottom: -4px;
  left: 8px;
  animation: flow 300ms ease-in-out 1 forwards;

}

@keyframes flow{

  from{
   translate: (0, 0);

  }

  to{
    width: 85%;
    translate: (1,1);
  }
}

.active-link{
  @apply text-blue-600;
}


input,
textarea{

    width: 100%;
    font-family: "Lato", sans-serif;
    /* @apply text-indigo-600;
    @apply bg-white; */
    outline: none;
    @apply border-none;
    padding: 0.25rem 0.5rem 0.5rem 0;

}



.hero{
  position: relative;
  background: linear-gradient(135deg, #000000d9, #00000000);

}

.hero::before{
  content: '';
  background: url('../images/sigmund-Fa9b57hffnM-unsplash.jpg') center center/cover no-repeat;
  opacity: 1;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* homepage cards */
.cards{
  @apply flex flex-col flex-wrap flex-grow flex-shrink-0 justify-evenly items-center gap-6;
}

.card-group{
  @apply flex flex-wrap flex-col md:flex-row gap-10 justify-center items-center;
}

.card{
  @apply w-40 h-56 bg-white flex justify-center items-center shadow shadow-slate-400 rounded-md;
}

/* about section and box design */
.section-about{
  height: 50vh;
}

.about-div{
  z-index: 1;

}

.about-text{
  z-index: 2;
}

.quote-ind1{
  z-index: -1;
}

.quote-ind2{
  z-index: -1;
}

.box-d1::before{
  content: '';
  position: absolute;
  width: 130px;
  height: 130px;
  @apply bg-blue-600;
  z-index: -1; 
  top: -60px;
  right: -40px;
  animation: easyMove1 3s infinite;

}

.box-d2::after{
  content: '';
  position : absolute;
  width: 130px;
  height: 130px;
  @apply bg-blue-600;
  z-index: -1;
  bottom: -40px;
  left: -40px;
  border-radius: 50%;
  animation: easyMove2 3s infinite;

}


@keyframes easyMove1{
  25%{
    right: -20px;
  }


  50%{
    right: -40px;
  }

  75%{
    right: -20px;
  }
}

@keyframes easyMove2{
  25%{
    bottom: -20px;
  }


  50%{
    bottom: -40px;
  }

  75%{
    bottom: -20px;
  }
}

.box-d1{
  z-index: 1;

}

.box-d2{
  z-index: 1;
}

@media(max-width: 639px){
  .box-d1::before ,.box-d2::after{
    width: 65px;
    height: 65px;
  }

  .box-d1::before{
    top: -30px;
    right: -30px;
  }

  .box-d2::after{
    bottom: -30px;
    left: -30px;
  }
}